@charset "UTF-8";

body {
  overflow-x: hidden;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  display: block;
  color: #fff !important;
  background-color: #81e111;
}
@media (max-width: 575.98px) {
  .navbar-brand {
    width: 60%;
  }
  .navbar-brand span {
    font-size: 10px;
  }
}
.navbar-brand span {
  display: block;
}

.nav-item.active .nav-link {
  color: #81e111 !important;
}

.bg {
  padding: 4rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-bootstrap {
  background-image: url("img/imatge1.png");
}
.bg-angular {
  background-image: url("img/imatge2.png");
}

.btn-brow {
  position: relative;
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  border-color: brown;
  background-color: brown;
}
.btn-brow:hover {
  border-color: brown;
  background-color: brown;
}
.btn-brow::after {
  content: "Vull més informaciò";
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  width: 150%;
  transform: translate(100%, -50%);
}

.btn-white {
  position: relative;
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  color: #000;
  background-color: #eee;
  border-color: #eee;
}
.btn-white:hover {
  color: #000;
  background-color: #eee;
  border-color: #eee;
}
.btn-white::after {
  content: "Vull més informaciò";
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  width: 150%;
  transform: translate(-100%, -50%);
}

.curs-info span {
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #ffffff90;
  background-color: #00000050;
}

@media (max-width: 575.98px) {
  .curs-info {
    text-align: left;
  }
  .col-md-6 h2 {
    font-size: 2rem;
    text-align-last: left;
  }
}

.curs-info strong {
  color: #fff;
}

.registre {
  border-color: #81e111 !important;
}
.registre .btn {
  border-color: #81e111 !important;
  background-color: #81e111;
}

.map {
  position: relative;
  
}

.map .info-map {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff75;
  padding: 1rem;
  transform: translate(-50%,-50%);
}

.slider {
  background-image: url('./img/imatge1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer ul {
  color: #03a9f4;
}

.footer input[type="email"] {
  padding: 1.5rem;
  border-color: #222527;
  background-color: #222527;
}
